
.Login3{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
padding-left: 491px;
padding-right: 516px;
padding-top: 98px;
background-color: #fff;
}