 
.my-form{
        font-size: 14px;
        line-height: 1.42857143;
        padding-left: 499px;
        padding-right: 514px;
        padding-top: 77px;
        color: #333;
        background-color: #fff;
    }
   

